body {
  margin: 0;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  text-align: center;
  margin: 5px;
}

img {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  background-color: slategray;
}

.btn {
  background-color: slateblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: darkslateblue;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}
